body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.header-image {
    width: 100vw;
    height: auto;
}

.card,
.bigger-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: 0.3s;
    margin: 2px;
    padding: 20px;
    border-radius: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding: 70px;
}

.gallery img,
.gallery-two img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #e83f57;
    color: white;
    font-size: .8rem;
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 1.2rem;
    margin: 5px 0;
}

p {
    color: white;
    font-size: 0.9rem;
    margin: 5px 0;
}

.bigger-card {
    width: 90%;
    margin: 2px;
}

.gallery-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 70px;
}

.contact-information {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}